.scan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    width: 80%;
    margin: auto;
    margin-top: 3%;
}
.scan div{
    width:50%;

}
.scan h2{
    margin-bottom: 20px;
}

.scan p{
    text-align:left;
    width: 85%;
}

.scan h2::after {
    content: '';
    width: 80%;
    height: 2px;
    background-color: rgb(27, 194, 153);
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scan input{
    display: none;
}

.scan label{

    padding: 10px 20px;
    width:40%;
    border: 1px dashed  rgb(27, 194, 153); 
    margin: auto;
    cursor: pointer;
}

.scan label img{
    margin-left: 20px;
    width:20%;

}
.scan button{
    background-color: rgb(27, 194, 153); 
    color: white;
    border: none;
    padding: 5px 8px;
    margin-left: 5px;
}