.forget{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
  }
    .reset {
      background-color: #fff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      width: 350px;
      text-align: center;
      
    }
  
    .reset h2 {
      color: #333;
    }
  
    .reset p {
      color: #777;
    }
  
    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  
    .reset button {
      background-color: #4caf50;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .reset button:hover {
      background-color: #45a049;
    }
  
    .reset  #code-input {
      margin-top: 20px;
    }
  
    .reset  #reset-message {
      margin-top: 20px;
      color: #555;
    }